# Entorno virtual
venv/
.env/

# Archivos de compilación de Python
*.pyc
*.pyo
__pycache__/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de base de datos
db.sqlite3

# Archivos de media
media/

# Archivos de logs
*.log

# Archivos de compilación y distribución
build/
dist/
*.egg-info/

# Archivos de configuración del sistema
.DS_Store
*.swp

# Archivos de seguridad
*.env

# Archivos de caché
*.cache

# Archivos de prueba
*.coverage
*.tox
*.nox
*.hypothesis/

# Archivos de Docker
docker-compose.override.yml
